<div class="col-md-12 col-sm-12 col-lg-12 no-margin h-100vh">
    <div class="row" style="margin: 0;">
        <div class="loginform">
            <div class="forget-icon">
                <img src="../../../assets/images/check-email.png">
            </div>
            <p class="login-heading text-center">Check your email  </p>
            <p class="login-para text-center">
                We have sent a password recover instructions to your email</p>                
                <button [routerLink]="['/auth/login']" class="btn-block login-button">Back to Login</button>
        </div>
    </div>
</div>