<div class="col-md-12 col-sm-12 col-lg-12 no-margin h-100vh">
    <div class="row" style="margin: 0;">
        <div class="loginform">
            <div class="forget-icon">
                <img src="../../../assets/images/changes-pass.png">
            </div>
            <p class="login-heading text-center" style="font-size:24px;">Password changed successfully!</p>
            <p class="login-para text-center">Please login to your email account again</p>
        
                <button [routerLink]="['/auth/login']"  class="btn-block login-button">Login</button>
            

        </div>

    </div>
</div>