<div class="col-md-12 col-sm-12 col-lg-12 no-margin h-100vh">
    <div class="row" style="margin: 0;">


        <div class="loginform">
            <div class="forget-icon">
                <img src="../../../assets/images/forget_pass.png">
            </div>
            <p class="login-heading text-center">Forget password?</p>
            <p class="login-para text-center">
                No worries, we’ll send you reset instructions
            </p>
            <form [formGroup]="forgetpasswordForm" (ngSubmit)="sendOtp(forgetpasswordForm.value)">
                <div class="form-group mb-0">
                    <label for="uname">Email</label>
                    <input type="email" (input)="resetError()" name="email" formControlName="email"
                        placeholder="Enter your registered email" class="form-control mb-0">
                    <app-show-errors [control]="email" [fname]="'Email'"></app-show-errors>
                </div>
               
                    <app-messages></app-messages>
           
                <button type="submit" class="btn-block login-button">Reset password</button>
            </form>
            <a [routerLink]="['/auth/login']" class="back-to"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Back to log in</a>
        </div>

    </div>
</div>