<div class="col-md-12 col-sm-12 col-lg-12 no-margin h-100vh">
    <div class="row" style="margin: 0;">


        <div class="loginform">
            <p class="login-heading text-center">
                Change Your Password</p>
                <p class="text-center login-para">Your new password must be different from <br>
                    previous used password</p>
            <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
                <div class="form-group">
                    <div class="mb-4">
                        <label>New password</label>
                    <input type="{{showPassword ? 'text' : 'password'}}" name="newpassword" formControlName="newPassword"
                        placeholder="************ (minimum 8 characters)" class="form-control" (input)="checkConfirmPass()">
                        <div class="eye" (click)="handleShowPassword()">
                            <img *ngIf="!showPassword"
                                src="../../../assets/images/eye.png">
                            <i *ngIf="showPassword" class="fa fa-eye" aria-hidden="true" style="color: #b0b0b0;"></i>
                        </div>
                       <label class="mass-text">Must be atleast 8 characters</label> 
                    <app-show-errors [control]="newPassword" [fname]="'Password'"></app-show-errors> 
                    </div>
                    <div>
                    <label>Confirm Password</label>
                    <input type="{{showConPassword ? 'text' : 'password'}}" name="newpassword" formControlName="confirmPassword"
                        placeholder="************ " class="form-control" (input)="checkConfirmPass()">
                        <div class="eye" (click)="handleShowConPassword()">
                            <img *ngIf="!showConPassword"
                                src="../../../assets/images/eye.png">
                            <i *ngIf="showConPassword" class="fa fa-eye" aria-hidden="true" style="color: #b0b0b0;"></i>
                        </div>
                        <label class="mass-text">Both passwords must match</label> 
                    <app-show-errors [control]="confirmPassword" [fname]="'Confirm Password'"></app-show-errors>
                   </div> 
                </div>
                <p>
                    <app-messages></app-messages>
                </p>
                <button type="submit" class="btn-block login-button">Reset password</button>
            </form>
        </div>
    </div>
</div>