.googlebtn {

	width: 100%;
	height: 40px;
	border-radius: 8px;
	margin-bottom: 15px;
	cursor: pointer;
	line-height: 40px;
	border: 1px solid #ccc;
}
.ft-login{
    text-align: center;
}
.login-heading {
    font-weight: 600;
    font-size: 15px;
    line-height: 136.5%;
    color: #525252;
    text-align: center;
}
.Otp-text {
    font-size: 14px;
    line-height: 136.5%;
    letter-spacing: 0.08em;
    color: #FDAF2F;
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 50px;
}
.enter-opt {
    color: #5C5C5C;
    opacity: 0.7;
    text-align: center;
    margin-bottom:35px;
}
.check-spam{
    color: #000000;
    opacity: 0.65;
    font-size: 11px;
    font-weight: 500;
}
.login-button{
    width: 200px;
    margin: auto;
	margin-top:40px;
}
p.login-para.text-center {
	color: #000;
}

.eye {
	position: relative;
	width: 100%;
}

.eye img {
	position: absolute;
	right: 17px;
	top: -41px;
	width: 17px;
}

.reminder {
	position: relative;
	top: 3px;
	width: 17px;
	height: 17px;
}

.h-100vh {
	height: 100vh;
	display: flex;
	align-items: center;
	background: #fff;
	justify-items: center;
	justify-content: center;
}

.googlebtn .google-icon-wrapper {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 27%;
}

.googlebtn .google-icon {
	position: absolute;
	margin-top: 11px;
	margin-left: 11px;
	width: 18px;
	height: 18px;
}

.googlebtn .google-icon1 {
	position: absolute;
	width: 40px;
	height: 40px;
}

.googlebtn .btn-text {
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	color: #828282;
}

.login-links a {
	margin: 2px 0px;
	letter-spacing: 1px;
	font-weight: 400;
}

.signup-title span {
	color: #ffaa00;
	cursor: pointer;
	font-weight: bold;
}

.signup-title {

	float: right;

	color: #607D8B;
	font-weight: bold;
	font-size: 12px;
}

.signup-title a:hover {
	color: #ffaa00;
	text-decoration: underline;
}

.help-block {
	text-decoration: underline;
	float: right;
	width: 100%;
	color: #607D8B;
	font-size: 12px;

}

.facebookcolor {
	background: #355089
}

.error-msg {
	font-size: 13px;
}
@media (min-width: 2560px) and (max-width: 4000px){
	
	.googlebtn .google-icon-wrapper {

	left: 35%;
	}
}
@media only screen and (max-width:1024px) and (min-width:768px) {

	.loginform {
		width: 100%;
	}
	.ft-login {
		font-size: 12px;
	}
	.googlebtn .google-icon-wrapper{
		left: 10%;

	}
}


@media (max-width:667px) and (min-width: 320px) {
	.check-spam{ 
		font-size: 10px;
		font-weight: 400;
	}
	.login-heading{
		font-weight: 500;
		font-size: 18px; 
		color: #000; 
	}
	.googlebtn .google-icon-wrapper{
		left: 10%;

	}
	.login-leftbg {
		margin: 0;
	}
	.h-100vh{
		display: block;
		height: auto;
	}
	.loginform {
		width: 100%;
		padding-top: 30px;
		box-sizing: border-box;
		background: #fff;
		margin-top: 0px;
		margin: auto;
	}
	.login-links p {
		color: #607D8B;
		font-size: 13px;
		margin: 10px 0px;
		 
	}
	.width-full {
		width: 50% !important;
    flex: initial;
	max-width: initial;
	margin: auto;
	}
	.logo {
		width: 150px;
		margin: 20px auto;
		display: block;
	}
	.form-group .form-control {
		color: #000000 !important;
	}
	.ft-login{
		font-size: 14px;
		letter-spacing:0 !important
	}
	.login-button{
		margin-bottom: 100px;
		width: 100%;
	}
}