<div class="col-md-12 col-sm-12 col-lg-12 no-margin h-100vh">
    <div class="row" style="margin: 0;">


        <div class="loginform">
            <p class="login-heading">Please enter the One - Time Password to verify your account</p>
             <p class="Otp-text">OTP has been sent to your email</p>
			 <form [formGroup]="otpForm" (ngSubmit)="verifyOtp(otpForm.value)">
                <div class="form-group text-center">
                   
                    <ng-otp-input  (onInputChange)="onOtpChange($event)"   [config]="otpSettings"></ng-otp-input>
                    
					<app-show-errors class="text-center" [control]="otp" [fname]="'OTP'"></app-show-errors>
                </div>
				              
                <button type="submit" class="btn-block login-button">Validate OTP</button>

                <div  class="ft-login" style="padding-top: 15px; letter-spacing: 0.08em;
                color: #5C5C5C;"> Didn’t receive the OTP?<a  
					style="color: #265B97; text-decoration: none; background-color: transparent;" 
					(click)="resendEmail()"> Resend OTP </a></div>
                <p class="text-center check-spam">Please check spam if not recieved in inbox.</p>
            </form>
        </div>
    </div>
</div>
