<div class="container ipad-pd-left mg-t-20 pl-0">
	<div class="row screen-center">
		<div class="col-md-12">
			<div class="tab">
				<button class="tablinks back" (click)="backDashboard()"> <i class="fa fa-chevron-circle-left"
						aria-hidden="true"></i> Back</button>

				<button class="tablinks" [ngClass]="selectedTab == 'usd-wallet' ? 'active' : ''"
					(click)="handleTabChage('usd-wallet')">Main wallet</button>

				<button class="tablinks" [ngClass]="selectedTab == 'commission-wallet' ? 'active' : ''"
					(click)="handleTabChage('commission-wallet')">Earning wallet</button>

			</div>

			<div id="commission-wallet" *ngIf="selectedTab === 'commission-wallet' " class="tabcontent">
				<app-commission-wallet-logs [tabData]="tabData" ></app-commission-wallet-logs>
			</div>
			<div id="usd-wallet" *ngIf="selectedTab === 'usd-wallet' " class="tabcontent">
				<app-usd-wallet-logs [tabData]="tabData" >
				</app-usd-wallet-logs>
			</div>
		
	

		</div>
	</div>
</div>






