

.myrestable button{
	display: none;
  } 
.mg-t-80{
    margin-top: 80px;
}
span.badge.badge-pill.badge-success {
    font-size: 100%;
}
.refresh-link{
    background: linear-gradient(45deg,#ff9800,#ffac2c)!important;
    color: #fff!important;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer !important;
    float: right;
    font-size: 14px;
}
.table-br h6 {
	font-size: 13px;
}
 .custom_card{ border-radius: 0px 0px 22px 22px !important; border: 1px #3E3E3E solid; border-top: 0px !important;padding-top: 0px !important;}
.table {
	font-size: 10px;
	color: #ffffff;
	margin-bottom: 0px;
}

.table th {
	padding: 15px 10px;
	color: #777777;
	vertical-align: top;
	font-size: 15px;
	font-weight: 600;
	border-top: 0px solid #211f1f !important;
	padding-bottom: 15px;
}

.table thead th {
	border-bottom: 1px solid #383838;
}

.table td {
    padding: 10px 10px;
    font-size: 12px !important;
    vertical-align: middle;
    border-top: 1px solid #383838;
}
.desc:hover {
    text-decoration: underline!important;
    cursor: pointer;
}

.desc {
    color: #ffc773!important;
    font-weight: 500;
    display: block;
    max-width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    margin-bottom: 3px;
}

@media only screen and (max-width:1024px) and (min-width:768px) {
    .desc {
    max-width: 250px;
    }
    .table-striped{ width: 800px;}

}
@media only screen and (max-width:667px) and (min-width:300px) {
.refresh-link{
 position: relative;
 top: -6px;
}


.myrestable.arow-fiex {
    position: absolute;
    top: 50%;
    width: 12%;
    right: 27px;
  }
  
  
  .myrestable{
	width: 100%;
	margin: 0 auto;
	overflow:hidden;
  }
  
  .myrestable table {
	table-layout: fixed; 
	width: 190%;
	margin-bottom: 20px;
  }
  .myrestable td, th {
	vertical-align: middle;
	padding: 0px;
	height: 50px;
	
  }
  .myrestable td {
    font-weight: 400;
    text-align: center !important;
    justify-content: center;
  }
  .myrestable th {
	border-top: 1px solid #313131 !important;
	padding-top: 18px !important;
	padding-bottom: 18px !important;
	text-align: center !important;
	font-weight: 600 !important;
	font-size: 14px !important;
	color: #fff;
	border-bottom: 1px solid #313131 !important;
	border-left: none !important;
	border-right: none !important;
  }
  
  
  .myrestable .outer {
	position:relative; margin: 0 auto; overflow-x:hidden;margin-bottom:-17px; overflow-y:hidden;
  }
  .myrestable .inner {
	overflow-x:scroll;
	overflow-y:visible;
	width:100%; 
	margin: 0px !important;
  }
  
  .myrestable button{
	background-color: #387f5000;
	color: #ffad2f;
	border: none;
	display: block;
  }

  table.table tbody{
	overflow: revert !important;
  }
  
  .fixed-pos-mobile {
  position: sticky !important;
  left:0;
  background: #161616;
  }
  #left-button{
	float:right;
  }
  
  #right-button{
	float:right;
  }
  /* .myrestable td:last-child{
	margin-left: 0px ;
  } */
  

}

