

<div class="container ipad-pd-left terms-condition">
    
    <div class="row">
        <div class="col-md-12">
            <h2 style="padding-bottom: 50px; text-transform:none;">TDX  TERMS OF USE
                <span>Last updated: April 1, 2022</span>
            </h2>


        </div>
        <div class="col-md-12">
            <h2>TERMS AND CONDITIONS</h2>
            <p>This end-user agreement (the “Agreement”) should be read by you (the “User” or “You”) in its entirety
                prior to your use of TDX ’s service or products. Be aware that this Agreement constitutes a
                legally binding agreement between you and TDX  (referred to herein as
                “TDx ”, “us” or “we”) which owns and operates the website on the Internet and the
                Service at www.app.TDX.Biz / (the “Service”). By accessing or using the site or TDX 
                Services, you agree that you have read, understood, and agree to be bound by this agreement.
            </p>
            <h2>General Conditions of use</h2>
            <p>By signing up to use an Account through any of the TDX  Clients’ social websites made
                available
                through the TDX  Platform, you agree to comply with and be legally bound by this Agreement.
                If
                you do not agree to any of the terms set forth in this Agreement or any subsequent modification to
                the
                Agreement, you may not access or use any of the TDX  Services and must cancel your TDX
                 Account immediately.<br><br>

                We may amend or modify this Agreement by posting such amended or modified Agreement ("Revised
                Agreement") on the TDX  Platform or by notifying you about the changes via email. By
                continuing
                to access or use the TDX  Services once the Revised Agreement is effective, you agree to be
                bound by its terms.<br><br>

                To be eligible to use the TDX  Services, you must be at least 18 years old (or the
                applicable
                age of majority and contractual capacity in each qualifying jurisdiction). By accessing or using the
                TDX
                 Services you represent and warrant that you are 18 or older.<br><br>

                TDX  disclaims any and all warranties, expressed or implied, in connection with the service
                which is provided to you "as is" and we provide you with no warranty or representation whatsoever
                regarding its quality, fitness for purpose, completeness, or accuracy.<br><br>

                The term "TDX ", its domain names and any other trademarks, or service marks used by TDX
                 as part of the Service (the "Trademarks"), are solely owned by TDX . In addition,
                all
                content on the website, including, but not limited to, the images, pictures, graphics, photographs,
                animations, videos, music, audio, and text (the "Site Content") belongs to TDX  and is
                protected by copyright and/or other intellectual property or other rights. You hereby acknowledge
                that
                by using the Service, you obtain no rights in the Site Content and/or the Trademarks, or any part
                thereof. Under no circumstances may you use the Site Content and/or the Trade Marks without TDX
                ’s prior written consent. Additionally, you agree not to do anything that will harm or
                potentially harm the rights, including the intellectual property rights of TDX .
            </p>
            <h2>Authority/Terms of Service</h2>
            <p>You agree to the rules of the Service provided and described on the https://app.tdx.biz/
                website.
                TDX  retains all authority over the issuing, maintenance, and closing of the Service. The
                decision of TDX ’s management, concerning any use of the Service, or dispute resolution, is
                final and shall not be open to review or appeal.</p>
            <h2>Your Representations and Warranties</h2>

            <p>Prior to your use of the Service and on an ongoing basis you represent, warrant, covenant, and agree
                that:<br><br>

                There is a risk of losing cryptocurrency & other funds of value when using the Service and TDX
                
                has no responsibility to you for any such loss;<br><br>

                Your use of the Service is at your sole option, discretion, and risk. You hereby accept full
                responsibility for any consequences that may arise from your use of the Services, and expressly
                agree
                and acknowledge that TDX  shall have absolutely no liability in this regard.<br><br>

                You are solely responsible for any applicable taxes which may be payable on cryptocurrency traded or
                transacted by you through your using the Service;<br><br>

                Any cryptographic tokens, blockchain technology, or distributed ledger technology-related projects
                are
                new and relatively untested, and outside of both our and our Clients’ exclusive control. Any adverse
                changes in market forces, technology, and regulatory environment impacting our performance under
                this
                Agreement shall absolve us from responsibility in this regard, including but not limited to hacking
                attacks, possible theft, unfavourable regulatory action, or unclear legal/tax status of
                cryptographic
                tokens.<br><br>

                (i) You are eighteen years of age or older, (ii) you are of the age of majority in your
                jurisdiction,
                (iii) you are accessing the Service from a jurisdiction in which it is legal to do so, (iv) your use
                of
                the Services is not prohibited by applicable law, and at all times compliant with applicable law;
                and
                (v) you are solely responsible for use of the Services and, if applicable, for all activities that
                occur
                on or through your User Account.
            </p>
            <h2>Prohibited Uses & Termination</h2>
            <p>In connection with your use of the TDX  Services, and your interactions with other Users,
                and
                third parties you agree to and represent you will not engage in any illegal, unauthorized, or
                improper
                activity, which is:<br><br>

                Infringe any proprietary rights, including but not limited to copyrights, patents, trademarks, or
                trade
                secrets of TDX ;
                Create multiple accounts, including for collusion and/or abuse of service;
                Use the Services to transmit any data or send or upload any material that contains viruses, Trojan
                horses, worms, time-bombs, keystroke loggers, spyware, adware, or any other harmful programs or
                similar
                computer code designed to adversely affect the operation of any computer software or hardware;
                Make any backup or archival copies of the Platform or any part thereof, including disassembling or
                de-compilation of the Platform;


                We reserve the right to (a) modify or discontinue any portion of the TDX  Services, and (b)
                suspend or terminate your access to the TDX  Services, at any time, and from time to time,
                without notice to you in certain, limited circumstances described herein. You agree that we shall
                not be
                liable to you or any third party for any modification or termination of the TDX  Services,
                or
                suspension or termination of your access to the TDX  Services, except to the extent
                otherwise
                expressly set forth herein.
            </p>
            <h2>Know your Customer ("KYC") and Anti-Money Laundering (AML) Policy</h2>
            <p>TDX  is a permissionless, fully decentralized platform for token sales, swaps, and
                decentralized
                exchange. As a software development company, TDX  has no role in enforcing KYC by default,
                however, we do provide such tools for fundraising entities using TDX  to enforce on their
                users, if the entities choose to do so.</p>
            <h2>Retention of Intellectual Property Rights of TDX  Platform and TDX  clients</h2>
            <p>The TDX  Platform and all TDX  Services, including their design elements or
                concepts
                and any underlying intellectual property, including, but not limited to, all trademarks, are the
                property of TDX  and/or TDX  Customers (as applicable), and are protected by
                copyright, patent, trade secret, and other intellectual property laws.<br><br>

                TDX  and TDX  Clients retain any and all rights, titles, and interest in and to
                TDX
                 Platform and TDX  Services (including, without limitation, all intellectual
                property
                rights), including all copies, modifications, extensions, and derivative works thereof. Your right
                to
                use the TDX  Platform and TDX  Services is limited to the rights expressly granted
                in
                these Terms. Except as stated in these Terms, nothing in these Terms should be construed as
                conferring
                any right in or license to TDX ’s or any third party’s intellectual rights.<br><br>

                You may not: Copy, create derivative works, distribute, publish, reverse engineer, decompile,
                disassemble, modify, or translate the TDX  website or the Service; or Use the Service that
                in
                any way is prohibited by applicable laws or regulations (each of the above herein defined as an
                "Unauthorized Use"). You agree that you will be solely responsible for any damage, costs, or
                expenses
                arising out of or in connection with any unauthorized use by you.
            </p>
            <h2>Breach</h2>
            <p>Without prejudice to any other rights, if a User breaches in whole or in part any provision contained
                herein, TDX  reserves the right to take such action as it sees fit, including terminating
                this
                Agreement or any other agreement in place with the User and/or taking legal action against such
                User.<br><br>

                You agree to indemnify and hold harmless TDX , its affiliates, subsidiaries, licensors, and
                their respective directors, officers, members, managers, employees, and agents from and against any
                and
                all claims and expenses arising out of your use of the Services, a breach of any provision of these
                Terms by you or any person using the Services on your behalf, a breach by you of any applicable
                laws, or
                any third-party claim to the extent arising from or connected with an allegation that your use of
                the
                Services in accordance with these Terms infringes any rights of a third party.
            </p>
            <h2>Miscellaneous</h2>
            <p>Severability: If a provision of this Agreement is or becomes illegal, invalid, or unenforceable in
                any
                jurisdiction, that shall not affect the validity or enforceability in that jurisdiction of any other
                provision hereof or the validity or enforceability in other jurisdictions of that or any other
                provision
                hereof.<br><br>

                Assignment: TDX  reserves the right to assign this Agreement, in whole or in part, at any
                time
                without notice. The User may not assign any of his/her rights or obligations under this
                Agreement.<br><br>

                Third-Party Rights: Unless expressly provided to the contrary in this Agreement, a person who is not
                a
                party to this Agreement has no right to enforce or to enjoy the benefit of any term of this
                Agreement.
                Notwithstanding any term of this Agreement, no consent of any party who is not a party to this
                Agreement
                shall be required for the waiver, variation, or termination of any part of this Agreement.<br><br>

                Support and Notice: All notices, requests, demands, and determinations for TDX  under these
                Terms (other than routine operational communications) shall be sent to
                <a href="mailto:ask@tdx.biz" style="color:#ffad2f;">ask@tdx.biz</a>
            </p>
            <h2>Third-Party Website</h2>
            <p>The Website may include Website, content, and information owned, made available, or otherwise
                licensed by
                a third party (“Third Party Website”) or contain links to a Third Party Website. You understand that
                Third Party Websites is the responsibility of the third party that created or provided them and
                acknowledge that the use of such Third Party Websites is solely at your own risk.<br><br>

                TDX  makes no representations and excludes all warranties and liabilities arising out of or
                pertaining to such Third Party Website, including its accuracy or completeness.
                All intellectual property rights in and to Third Party Website are the property of the respective
                third
                parties.
            </p>
            <h2>Modifications and Interruptions</h2>
            <p>We reserve the right to change, modify, or remove the contents of the Site at any time or for any
                reason
                at our sole discretion without notice. However, we have no obligation to update any information on
                our
                Site. We also reserve the right to modify or discontinue all or part of the Site without notice at
                any
                time. We will not be liable to you or any third party for any modification, price change,
                suspension, or
                discontinuance of the Site.<br><br>

                We cannot guarantee the Site will be available at all times. We may experience hardware, software,
                or
                other problems or need to perform maintenance related to the Site, resulting in interruptions,
                delays,
                or errors. You agree that we have no liability whatsoever for any loss, damage, or inconvenience
                caused
                by your inability to access or use the Site during any downtime or discontinuance of the Site.
                Nothing
                in these Terms of Use will be construed to obligate us to maintain and support the Site or to supply
                any
                corrections, updates, or releases in connection therewith.
            </p>
        </div>
    </div>
</div>