<div class="container ipad-pd-left mg-t-20">
  <div class="row">
    <div class="col-md-12">
      <div class="table-br" style="padding: 0px 0px 15px 0px;">
        <div>
          <div class="table-responsive">
            <div *ngIf="depositArray.length">
              <div class="padding-box">
                <div class="table-row">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width:200px">Date</th>
                        <th>Amount</th>
                        <th style="width:400px">Transaction ID</th>
                        <th>PayMode</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let temp of depositArray;let i = index">
                        <td class="date-time">{{temp.createdAt | date:'medium'}}</td>

                        <td>$
                          <span *ngIf="temp.paymode == paymode.WALLET || temp.paymode == paymode.COUPONS">
                            {{temp.walletAmount?.$numberDecimal || '--'}}
                          </span>
                          <span *ngIf="!(temp.paymode == paymode.WALLET || temp.paymode == paymode.COUPONS)">
                            {{temp.tokenAmount?.$numberDecimal || '--'}}
                          </span>
                        </td>
                        <td>
                          <span class="tran">{{temp?.gatewaydata?.txnId || '--'}} </span>

                          <i (click)="cpyToClipboard(temp?.gatewaydata?.txnId)" class="fa fa-copy cpy-icon"
                            title="copy to clipboard" aria-hidden="true"></i>


                        </td>
                        <td>
                          <span *ngIf="temp.paymode == paymode.LTC || temp.paymode == paymode.LTCT">
                            LTC
                          </span>
                          <span *ngIf="temp.paymode == paymode.BTC">
                            BTC
                          </span>
                          <span *ngIf="temp.paymode == paymode.ETH">
                            ETH
                          </span>
                          <span
                            *ngIf="temp.paymode == paymode.TETHER_BLOCK_IO || temp.paymode == paymode.USDT_ERC20 || temp.paymode == paymode.USDT || temp.paymode == paymode.USDT_TRC20 || temp.paymode == paymode.USDT_USDT_ERC20 || temp.paymode == paymode.USDT_USDT_TRC20 || temp.paymode == paymode.USDT_BEP20 || temp.paymode == paymode.USDT_USDT_BEP20">
                            USDT
                          </span>
                          <span *ngIf="temp.paymode == paymode.BUSD || temp.paymode == paymode.BUSD_BEP20">
                            BUSD
                          </span>
                          <span
                            *ngIf="temp.paymode == paymode.USDC || temp.paymode == paymode.USDC_USDC_ERC20 || temp.paymode == paymode.USDC_BEP20">
                            USDC
                          </span>
                          <span *ngIf="temp.paymode == paymode.COUPONS">
                            Coupon
                          </span>
                        </td>
                     
                        <td>
                          <a href="javascript:void(0)" *ngIf="temp.status== walletStatus.PENDING"
                            (click)="showInvoicePopup(purchasePopupSecond,temp?.gatewaydata)" ngbTooltip="PENDING">
                            <img src="../../../../assets/images/pending.png" width="18px">
                          </a>
                          <a href="javascript:void(0)" *ngIf="temp.status== walletStatus.CANCELLED" ngbTooltip="CANCELLED">
                            <img src="../../../../assets/images/cancel.png" width="18px">
                          </a>
                          <a href="javascript:void(0)" *ngIf="temp.status==  walletStatus.PROCESSING" ngbTooltip="PROCESSING">
                            <img src="../../../../assets/images/process.png" width="18px">
                          </a>
                          <a href="javascript:void(0)" *ngIf="temp.status== walletStatus.ONHOLD" ngbTooltip="ONHOLD">
                            <img src="../../../../assets/images/onhold.png" width="18px">
                          </a>
                          <a href="javascript:void(0)" *ngIf="temp.status== walletStatus.FAILED" ngbTooltip="FAILED">
                            <img src="../../../../assets/images/failed.png" width="18px">
                          </a>
                          <a *ngIf="temp.status== walletStatus.COMPLETED" ngbTooltip="COMPLETED">
                            <img src="../../../assets/images/kyc-verify.png" width="18px">
                          </a>
                          <a *ngIf="temp.status== walletStatus.SETTLED" ngbTooltip="SETTLED">
                          <img src="../../../../assets/images/setteeld.png" width="18px">
                          </a>
                          <a href="javascript:void(0)" *ngIf="temp.status== walletStatus.REJECTED" ngbTooltip="REJECTED">
                             <img src="../../../../assets/images/rejectted.png" width="18px">
                          </a>
                        </td>
                      </tr>

                    </tbody>
                  </table>

                </div>
              </div>
            </div>
            <div class="overflow-no-deposit text-center" *ngIf="!depositArray.length">
              <p class="no-found">No deposit history found</p>
            </div>
            <div *ngIf=" totalCount > rowsPerPage" class="peg-middle" style="display: table;">
              <ngb-pagination *ngIf="depositArray.length !== 0" [ellipses]="false" [(page)]="currentPage" [maxSize]="3"
                [boundaryLinks]="false" [pageSize]="rowsPerPage" [collectionSize]="totalCount"
                (pageChange)="pageChanged($event)">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #purchasePopupSecond let-modal>


  <button (click)="closeAllPopup()" type="button" aria-label="Close" class="close"><span
      aria-hidden="true">×</span></button>

  <div class="modal-body seminor-login-modal-body">

    <div class="create-new-fau">
      <div class="col col-sm-12 col-xs-12 col-md-12 text-center">
        <p style="color: #000 !important;">Have deposit <span
            style="font-weight: bold !important;font-size:15px;">{{gatewayData?.cryptoCoins}}
            {{gatewayData?.token}}</span> to the below address.</p>
        <p style="color:#000 !important; font-weight: bold !important;font-size: 15px; margin-bottom: 0px;">
          {{gatewayData?.address}} </p>
        <img [src]="gatewayData?.qrcodeUrl">
      </div>
    </div>
  </div>
</ng-template>