
.card_details img {height: 220px;  width: 100%;}

.card-top {
    position: relative;  
}
.sale-card{
    position: absolute; 
    bottom: 0;  
    width: 100%; 
    padding: 5px;
    background: #090909;
    opacity: 0.74;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* backdrop-filter: blur(166px); */
}
.moreDetails{
    font-weight: 500;
    font-size: 8px !important;
    border: 1px #fff solid;
    padding: 5px !important;
    color: #fff;
    height: 26px;
    border-radius: 6px;
    margin-top: 12px;
}
.card-top-img{
    width: 100%;
    height: 210px;
    border-radius: 10px;
}
.card-price-text{
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #736B6B;
  }
  .card-price-value{
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 80%;
  
  
  }

  .heading_name h4{font-size: 16px; margin: 0px; font-weight: 600;  margin-bottom: 6px;}
  .heading_name p{font-size: 13px; margin: 0px;}


  .lh-100-mob{
    line-height: 130%;
  }
  @media only screen and (min-width: 700px) {
    .card-price-value{
        margin-bottom: 1px;
    }
  }
  @media only screen and (max-width: 1023px) and (min-width: 768px) {

  .heading_name h4 {
    font-size: 10px;
}  
.card-price-text {
    font-weight: 600;
    font-size: 5px;
    line-height: 7px;
    color: #736B6B;
}
.card-price-value {
    font-size: 6px;
}
.moreDetails{
    font-size: 5px !important;
    border: 1px #fff solid;
    padding: 5px !important;
    height: 16px;
    margin-top: 8px;
}
.card-top-img{
    height: 160px;
}
.social-font img {
    width: 9px;
}
  }
  @media only screen and (max-width: 500px) {
    .card-price-text{
        font-weight: 300;
        font-size: 12px; 
        color: rgba(255, 255, 255, 0.70);
    }
    .lh-100-mob{
        line-height: 114%
    }
    .card-price-value{
        font-weight: 600;
        font-size: 12px;
        /* padding-bottom: 2px; */
    }
    .heading_name h4{
        font-size: 18px; 
        font-weight: 500;
        margin-bottom: 6px;
        margin-top: 2px;
    }
    .heading_name h4 .p-symbol{
        font-weight: 300;
    }
    .mob-center{
        text-align: center;
    }
    .social-font {
        display: flex;
        justify-content: space-around;
      }
    .moreDetails{
        font-weight: 400;
        font-size: 12px !important; 
        padding: 2px 7px !important; 
        height: 27px;
        margin-top: 16px;
    }
    .card-top-img{
		height: 240px;
	}
    .sale-card{  
        border-radius: 0px 0px 10px 10px;
        opacity: 0.7400000095367432;
        background: rgba(9, 9, 9, 0.52);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(166px);
        padding: 7px 5px 5px;
    }
  }
  
  @media only screen and (max-width: 375px) {
    .moreDetails { 
        font-size: 10px !important; 
        height: 24px;
    }
  }