<footer class="footer text-light">
	<div class="container">
		<div class="social-links">
		</div>
		<ul class="footer-link">
			<li>
				<a [routerLink]="['/privacy-policy']" class="link">Privacy Policy</a>

			</li>
			<li><a [routerLink]="['/terms-conditions']" class="link"> Terms & Conditions&nbsp;
					| </a></li>
			<li><a [routerLink]="['/faq']" class="link"> Learn More &nbsp;
					| </a></li>

		</ul>
		<p class="" style="float: left;
		color: #fff;
		font-weight: 400;
		font-size: 15px;
		text-decoration: none;
		margin-bottom: 10px;">
			© 2023. All rights reserved by<a href="https://ith.tech/#welcome" style="color: #fff; margin-left: 5px;"
				class="copy-right" target="_blank">ITH Technologies.</a>
		</p>

	</div>
</footer>